<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}"> 
    <title>Welcome</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        
        <span class="navbar-brand mb-0 h1">Welcome to Gourmand Land    
            {{user.first_name}} 
            <a href='/restaurants/userprofile/{{user.id}}'>Your Profile</a></span>
            
        <a href='/restaurants/all'>See all the restaurants and reviews</a>
        <a href='/logout'>Log Out</a>
    </nav>
    <div class="container-fluid">
        <form action="/restaurants/create" method="post">
            <h3>Enter a restaurant you'd like to review</h3>
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" name="type">
            </div>
            <div class="form-group">
                <label for="type">Popular Items</label>
                <textarea name="popular_items"></textarea>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name="address">
            </div>
            <button class="btn btn-info">Enter</button>
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                
            </div>
            {% endif %}
        </form>
        
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <p class="footer">Copyright©GourmandLand2021</p>
        <p class="footer">julieyangarchi@gmail.com</p>
    </nav>
</body>
</html>