*{
    margin:0;
    padding:0;
}
body{
    background-image: url("media/bg1.jpeg");
}
.container-fluid{
    display:flex;
    justify-content: space-around;
    background-color: rgb(229, 246, 252);
    padding-bottom: 60px;
    padding-right: 40px;
    
}
h3{
    padding:10px 0px 10px 0px;
    margin:center;
}
a{
    color:rgb(87, 167, 196);
}
img{
    width: 650px;
    padding-top: 20px;
    
    
}


.navbar-brand{
    padding: 20px;
    margin-right: 20px;
}
.footer{
    margin: auto;
    color:white;
    padding: 20px;
}
p{
    margin:auto;
    color:rgb(103, 158, 103);
}

